.formContainer {
    border: 1px solid rgb(136, 135, 135);
        border-radius: 8px;
        padding: 36px;
        width: 30%;
        margin: 0 auto;
        margin-top: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
}

.label {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.input {
    padding: 12px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}

.errorMessage {
    font-size: 16px;
    color: red;
}

.logInBtn {
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.logInBtn:hover,
.logInBtn:focus-visible,
.logInBtn:active {
    background-color: #5ee0a4;
}

.input::placeholder {
    color: rgb(198, 197, 197);
}