.contactList {
    margin-left: 12px;
    display: flex;
    align-items:baseline;
    justify-content:space-around;
    padding: 10px;
    background-color:#FFDA35;
    min-width: 320px;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}





.contactContainer p {
    font-size: 16px;
    color: #333;
}

.deleteBtn {
    justify-content: space-between;
    background-color: #E8004F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.deleteBtn:hover {
background-color: #c20141;
}